<% class_name ||= "" %>

<div id="header" class="<%= class_name %>">
    <a class="logo" href="<%= things_path %>">Standard Creative</a>
    <a class="contact" href="mailto:ronen@standard-creative.com">ronen@standard-creative.com</a>
</div>
