<%= render "header", { class_name: "small" } %>

<%= render "form" %>

<% if user_signed_in? %>
    <div id="user_controls">
        <%= link_to 'Delete', @thing, method: :delete, class: "button", data: { confirm: 'Are you sure?' } %>
    </div>
<% end %>
