<div id="things">
    <% @things.each do |thing| %>
        <%= link_to thing do %>
            <div class="thing">
                <div class="center_within">
                    <%= thing.name %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= render "dropzone" %>
<% end %>