<h1><%= @project.body %></h1>

<h2>Things:</h2>

<div id="droparea">
  Drop a file here.
</div>

<p><%= @project.things.inspect %></p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
