@import "compass";
@import "compass/reset";

html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

* {
    @include box-sizing(border-box);
    
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
}

.flash.present {
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
    text-align: center;

    &.notice {

    }

    &.alert {
        color: #ff0000;
    }
}

#header {
    text-align: center;
    padding: 50px;

    $logo: "actioner-logo.png";
    $logo_small: "actioner-logo-small.png";

    .logo {
        display: block;
        margin: 0 auto;
        text-indent: -9999px;
        overflow: hidden;
        background: image-url($logo) top center no-repeat transparent;
        width: image-width($logo);
        height: image-height($logo);
        opacity: 0.85;

        &:hover {
            opacity: 1;
        }
    }

    .contact {
        display: inline-block;
        margin: 20px 0 0 0;
        color: #fff;
        background: #bbb;
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;

        &:hover {
            background: darken(#bbb, 10%);
        }
    }

    &.small {
        text-align: left;
        padding: 20px;
        padding-bottom: 10px;

        .logo {
            display: inline-block;
            vertical-align: bottom;
            background-image: image-url($logo_small);
            width: image-width($logo_small);
            height: image-height($logo_small);
        }

        .contact {
            margin: 0 0 0 10px;
            font-size: 18px;
        }
    }
}

#share_buttons {
    text-align: center;
    margin: 50px auto;

    .share_toggle {
        display: inline-block;
        color: #fff;
        background: #bbb;
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;

        &:hover {
            background: darken(#bbb, 10%);
        }
    }
}
