@import "compass";
@import "compass/utilities/general/clearfix";
@import "center_within";

$thing_size: 200px;
$thing_margin: 10px;

#things {
    padding: $thing_margin 0;
    margin: 0 auto;
    max-width: ($thing_size + ($thing_margin * 2)) * 4;
    text-align: center;
    font-size: 0;

    @include clearfix;

    .thing {
        width: $thing_size;
        height: $thing_size;
        border: 1px solid #eee;
        margin: $thing_margin;
        color: #000;

        @include center_within($height: $thing_size) {
            font-size: 20px;
        }
    }
}

#droparea, #progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    text-align: center;
}

#droparea {
    @include center_within($selector: ".instructions") {
        font-size: 50px;
        font-weight: bold;
    }    
}

#progress {
    @include center_within($selector: ".uploads") {
        .upload {
            padding: 15px;

            .filename {
                font-size: 30px;
            }

            .percent {
                padding-top: 10px;
            }
        }
    }
}