@import "compass";
@import "compass/utilities/general/clearfix";
@import "center_within";

$thing_size: 300px;
$thing_margin: 10px;

body {
    background: #f6f6f6;
}

.edit_thing, .new_thing {
    width: ($thing_size + ($thing_margin * 2)) * 3;
    margin: 0 auto;

    .row {
        padding: 0 0 25px 0;
    }

    .label {
        display: block;
        margin: 0 0 10px 0;
    }

    .input {
        display: block;
        width: 100%;
        font-size: 20px;
        font-family: inherit;
    }

    textarea.input {
        height: 200px;
    }
}

#user_controls {
    position: fixed;
    top: 0;
    right: 0;

    .button {
        margin: 5px 5px 0 0;
        background: lighten(#000, 20%);
        color: #fff;
        &:hover {
            background: #000;
        }
    }
}

#layout_controls {
    text-align: right;
    .button {
        margin-right: 20px;
        background: lighten(#000, 20%);
        color: #fff;
        &:hover {
            background: #000;
        }
    }
}

.button {
    display: inline-block;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
}

#thing {
    text-align: center;
    margin: $thing_margin;
    padding: $thing_margin;
    background: #fff;

    .image {
        max-width: 90%;
        max-height: 80%;
    }

    .download {
        display: inline-block;
        color: lighten(#555, 10%);
        background: #fff;
        border: 1px solid #bbb;
        padding: 30px 35px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: #555;
        }
    }

    .body {
        max-width: 40em;
        margin: 25px auto 0 auto;

        text-align: left;
        font-size: 20px;
        line-height: 23px;

        p {
            padding: 0 0 10px 0;
        }
    }
}

#things, #layout_controls {
    padding: $thing_margin 0;
    margin: 0 auto;
    max-width: ($thing_size + ($thing_margin * 2)) * 3;
}

#things {
    text-align: center;
    font-size: 0;

    @include clearfix;

    .thing {
        background: #fff;
        width: $thing_size;
        height: $thing_size;
        max-height: $thing_size;
        margin: $thing_margin / 2;
        overflow: hidden;
        color: lighten(#555, 10%);

        &:hover {
            color: #555;            
        }

        @include center_within($height: $thing_size) {
            .unknown {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                word-break: break-word;
                padding: $thing_margin * 2;
            }

            .image {
            }
        }
    }
    
    &.stack a {
        display: block;
    }
}

#droparea, #progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#droparea {
    @include center_within($selector: ".instructions") {
        font-size: 50px;
    }    
}

#progress {
    @include center_within($selector: ".uploads") {
        .upload {
            padding: 15px;

            .filename {
                font-size: 30px;
            }

            .percent {
                padding-top: 10px;
            }
        }
    }
}